<div *ngIf="isEditMode">
  <h2>Editing {{ article?.displayName }}</h2>
  <input type="text" [ngModel]="article?.displayName">
  <textarea ngx-markdown [(ngModel)]="article!.content"></textarea>
  <div>
    <button (click)="togglePreview()">Show Preview</button>
    <button (click)="saveChanges()">Save</button>
    <button (click)="cancelChanges()">Cancel</button>
  </div>
  <div *ngIf="isPreviewMode">
    <h2>Preview</h2>
    <div [innerHTML]="editedContent! | markdown"></div>
  </div>
</div>

<div *ngIf="!isEditMode && article">
  <app-article-toolbar></app-article-toolbar>

  <div>
    <h1>{{ article.displayName }}</h1>
    <div [innerHTML]="article.content | markdown"></div>
  </div>
</div>

<div *ngIf="!article">
  <h1>{{ dummyArticle.title }}</h1>
  <p>{{ dummyArticle.content }}</p>
</div>
